@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Jost";
  
    font-style: normal;
  
    font-weight: 400;
  
    font-display: swap;
  
    src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4iYl.woff2)
      format("woff2");
  
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* latin */
  
  @font-face {
    font-family: "Jost";
  
    font-style: normal;
  
    font-weight: 400;
  
    font-display: swap;
  
    src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4g.woff2)
      format("woff2");
  
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin-ext */
  
  @font-face {
    font-family: "Jost";
  
    font-style: normal;
  
    font-weight: 500;
  
    font-display: swap;
  
    src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4iYl.woff2)
      format("woff2");
  
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* latin */
  
  @font-face {
    font-family: "Jost";
  
    font-style: normal;
  
    font-weight: 500;
  
    font-display: swap;
  
    src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4g.woff2)
      format("woff2");
  
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin-ext */
  
  @font-face {
    font-family: "Jost";
  
    font-style: normal;
  
    font-weight: 600;
  
    font-display: swap;
  
    src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73ord4iYl.woff2)
      format("woff2");
  
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
      U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* latin */
  
  @font-face {
    font-family: 'Jost';
  
    font-style: normal;
  
    font-weight: 600;
  
    font-display: swap;
  
    src: url(https://fonts.gstatic.com/s/jost/v15/92zatBhPNqw73oTd4g.woff2) format('woff2');
  
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: "icomoon";
  
    src: url("../fonts/icomoon.eot?4w1jzc");
  
    src: url("../fonts/icomoon.eot?4w1jzc#iefix") format("embedded-opentype"),
      url("../fonts/icomoon.ttf?4w1jzc") format("truetype"),
      url("../fonts/icomoon.woff?4w1jzc") format("woff"),
      url("../fonts/icomoon.svg?4w1jzc#icomoon") format("svg");
  
    font-weight: normal;
  
    font-style: normal;
  
    font-display: block;
  }
  
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
  }
h1{
    font-family: 'jost',san-serif;
    color: red;
}
.text-3xl{
    font-size: 3rem;
}

