@media (min-width: 1200px) {
  .container {
    max-width: calc(1410px + 6rem) !important;
  }
}
@media (max-width: 1199px) {
  .banner h3 {
    font-size: 3rem;
  }
  .container {
    max-width: 100% !important;
  }
  .banner {
    --aspect-ratio: 1.43348623853;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {

  .body_head_img {
    z-index:1;
    height: 600px;
  }
}
@media (max-width: 767.5px) {
  .body_head_img_mobile{
    aspect-ratio:  1;
  }
  .body_head_img_text h1{
    font-size: 40px;
    line-height:1;
  }
  .banner_text_2 {
    right: 8%;
    left: 8%;
    
  }
  .open-children-toogle {
    cursor: pointer;
    width: 12px;
    height: 12px;
  }
  .footer_list {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s linear;
  }
  .footer-list-padding {
    margin-top: 15px;
  }
  .open-children-toogle::after {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    content: "";
    height: 1px;
    width: 12px;
    background-color: #555;
  }
  .open-children-toogle::before {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    width: 1px;
    height: 12px;
    background-color: #555;
    transition: all 0.3s linear;
  }
  .open.open-children-toogle::before {
    transform: rotate(-90deg);
  }
  .footer_mobile {
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
  }
}

@media (min-width: 768px) {

  .language,
  .footer-payment {
    width: unset !important;
  }
}
@media (max-width: 524px) {
  .banner {
    --aspect-ratio: 0.71;
  }
}
@media (max-width: 320px) {
  .banner {
    --aspect-ratio: 0.6219076006;
  }
}
